.App {
  text-align: center;
  background-color: #49416D;
}

.loader-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E0EFDE;
}

.table-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E0EFDE;
  padding: 0 150px;
}

.table-container > table {
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
}

.table-container th,
.table-container tr {
  color: #49416D !important;
}

.table-container tr {
  background-color: #E0EFDE;
}

.table-container thead th {
  text-align: center !important;
}

.table-container tr:nth-of-type(2n),
.table-container thead tr {
  background-color: #B3F2DD !important;
}

.table-container tr:hover {
  background-color: #E08D79 !important;
}

.pagination-container button {
  background-color: #E0EFDE;
  border-color: transparent;
  color: #49416D;
}

.pagination-container button:hover {
  background-color: #E08D79 !important;
}

.pagination-container button[data-active] {
  background-color: #E08D79 !important;
  color: #E0EFDE;
}

.agechart-container {
  padding: 0 150px;
}