body {
  text-align: center;
  background-color: #49416D;
  overflow-x: hidden;
}

.loader-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E0EFDE;
}

.app-title-container {
  font-size: 30px;
  color: white;
  margin-top: 50px;
}

.table-container .table-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E0EFDE;
  padding: 0 150px;
}

.table-container table {
  margin: 40px 0;
  border: none;
}

.table-container th,
.table-container tr {
  color: #49416D !important;
}

.table-container tr {
  background-color: #E0EFDE;
}

.table-container thead th {
  text-align: center !important;
}

.table-container tr:nth-of-type(2n),
.table-container thead tr {
  background-color: #B3F2DD !important;
}

.table-container tr:hover {
  background-color: #E08D79 !important;
}

.pagination-outer-container {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.pagination-container button {
  background-color: #E0EFDE;
  border-color: transparent;
  color: #49416D;
}

.pagination-container button:hover {
  background-color: #E08D79 !important;
}

.pagination-container button[data-active] {
  background-color: #E08D79 !important;
  color: #E0EFDE;
}

.pagination-container .mantine-Pagination-dots {
  color: #E0EFDE;
}

.agechart-container,
.affairschart-container,
.mariagechart-container {
  padding: 0 150px;
}

.donut-charts-container {
  display: flex;
  margin: 100px 0;
}

.apexcharts-legend-text {
  text-transform: uppercase;
}

.donut-charts-container .component-container {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.donut-chart-container {
  width: 70%;
  border-radius: 10px;
  background-color: #A882DD;
  padding: 25px;
}

.donut-charts-container .chart-title-container {
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-y: auto;
  }

  /* .table-container {
    padding: 0 20px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
  } */

  .table-container .table-inner-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    padding: 0 20px;
  }

  .table-container table {
    margin-top: 25px;
    width: 1000px;
  }

  .pagination-container button,
  .mantine-Pagination-dots {
    height: 28px;
    min-width: 28px;
    width: 28px;
    font-size: 14px;
  }

  .pagination-outer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .agechart-container,
  .affairschart-container,
  .mariagechart-container {
    padding: 0 20px 0 5px;
  }

  .donut-charts-container {
    flex-direction: column;
    margin: 50px 0;
  }

  .donut-charts-container .component-container {
    width: 100%;
  }

  .donut-chart-container {
    width: auto;
    margin-bottom: 35px;
    padding: 20px;
  }

  /* .ratingchart-container .apexcharts-legend,
  .religiousnesschart-container .apexcharts-legend {
    position: absolute;
    left: 120px;
    top: 17px;
    justify-content: flex-start;
  } */

  .ratingchart-container .apexcharts-legend-series,
  .religiousnesschart-container .apexcharts-legend-series {
    line-height: 10px;
  }
}