body {
  text-align: center;
  background-color: #49416D;
  overflow-x: hidden;
}

.loader-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E0EFDE;
}

.app-title-container {
  font-size: 30px;
  color: white;
  margin-top: 50px;
}

.table-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E0EFDE;
  padding: 0 150px;
}

.table-container>table {
  margin-bottom: 20px;
  border: none;
}

.table-container th,
.table-container tr {
  color: #49416D !important;
}

.table-container tr {
  background-color: #E0EFDE;
}

.table-container thead th {
  text-align: center !important;
}

.table-container tr:nth-of-type(2n),
.table-container thead tr {
  background-color: #B3F2DD !important;
}

.table-container tr:hover {
  background-color: #E08D79 !important;
}

.pagination-container button {
  background-color: #E0EFDE;
  border-color: transparent;
  color: #49416D;
}

.pagination-container button:hover {
  background-color: #E08D79 !important;
}

.pagination-container button[data-active] {
  background-color: #E08D79 !important;
  color: #E0EFDE;
}

.agechart-container,
.affairschart-container,
.mariagechart-container {
  padding: 0 150px;
}

.donut-charts-container {
  display: flex;
  margin: 100px 0;
}

.apexcharts-legend-text {
  text-transform: uppercase;
}

.donut-charts-container .component-container {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.donut-chart-container {
  width: 70%;
  border-radius: 10px;
  background-color: #A882DD;
  padding: 25px;
}

.donut-charts-container .chart-title-container {
  margin-bottom: 25px;
}